GEMINI_API_KEY=
GEMINI_MODEL=models/gemini-flash-lite-latest
GEMINI_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/models
GEMINI_OPENAI_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/openai/


OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=openrouter/free

# my api key
# GROQ_API_KEY=
GROQ_API_KEY=

HF_TOKEN=
HF_MCP_URL=https://huggingface.co/mcp


ASTRA_DB_API_ENDPOINT=""
ASTRA_DB_APPLICATION_TOKEN=""


LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_HOST="https://cloud.langfuse.com"


APIIP_API_KEY=


VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
# TRIP PLANNER API AUDIENCE
VITE_AUTH0_AUDIENCE=
VITE_AUTH0_ROLE_NAMESPACE=
ALGORITHMS=RS256


# Azure OpenAI Configuration for text-embedding-3-small model
AZURE_OPENAI_ENDPOINT=https://goa-chat-assistant.openai.azure.com/
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_LLM_DEPLOYMENT=gpt-5-mini
# AZURE_OPENAI_LLM_DEPLOYMENT=gpt-4o-mini
# Embedding model version for Azure OpenAI
AZURE_OPENAI_API_VERSION=2024-02-01


niit_gitlab_link=
# Credentials for NIIT Azure AI Cloud Lab
web_link=
loginId=
loginpassword=
cspSubscriptionGuid=


# Database configuration
DATABASE_URL=
POSTGRES_PASSWORD=
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432


# LlamaCloud API Key
LLAMA_CLOUD_API_KEY=


SERPER_API_KEY=


SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
APPLICATION_EMAIL=app@cloudsync-handoff.com
SUPPORT_EMAIL=support@cloudsync-handoff.com
